<div class='nested-fields'>
      <table>
        <tr>
          <td><%= f.input :name, placeholder: 'kitaindia' %></td>
          <td><%= f.input :turn, collection: 1..20 %></td>
          <td><%= link_to_remove_association "削除", f %></td>
        </tr>
      </table>
</div>